In [1]:
import pandas as pd 
import re

In [ ]:
# Read full name files 
data = pd.read_excel('fullnamelist.xlsx')
data.head()

In [ ]:
# Read nameing patterns file 
patterns = pd.read_csv('name_patterns.csv')
patterns.head()

In [ ]:
# Convert patterns dataframe to dictionary 
key = patterns.set_index('actual')['short'].to_dict()

In [ ]:
# Create a new dataframe and store processed data in it 
df = pd.DataFrame()
df['short_name'] = data['fullname'].replace(key, regex=True)

In [ ]:
# Create a new dataframe for both Full Name and Short Name 
newdf = pd.DataFrame()
newdf['Full Name'] = data.fullname
newdf['Short Name'] = df.short_name

In [ ]:
# Finally store all actual and processed data in a file 
newdf.to_csv('short_name.csv', index=False)
print('Data Saved')

                                            fullname
0  Hazra Pharmacy                                ...
1  Uttam Medical Hall                            ...
2  Tuli Pharmacy                                 ...
3  Joy Ma Pharmacy                               ...
4  Ayshe Pharmacy                                ...

In [3]:
# Read nameing patterns file 
patterns = pd.read_csv('name_patterns.csv')
patterns.head()

        actual   short
0  Association   ASSOC
1  Aushadhalay  AUSHAD
2  Aushad Ghar  AUSHAD
3     Banasree   BANAS
4   Bangladesh      BD

In [4]:
# Convert patterns dataframe to dictionary 
key = patterns.set_index('actual')['short'].to_dict()

In [5]:
# Create a new dataframe and store processed data in it 
df = pd.DataFrame()
df['short_name'] = data['fullname'].replace(key, regex=True)

In [6]:
# Create a new dataframe for both Full Name and Short Name 
newdf = pd.DataFrame()
newdf['Full Name'] = data.fullname
newdf['Short Name'] = df.short_name

In [7]:
# Finally store all actual and processed data in a file 
newdf.to_csv('short_name.csv', index=False)
print('Data Saved')

Data Saved