In [56]:
import pandas as pd 
import re

In [198]:
data = pd.read_csv('../Data/fullname_shortname.csv')
data.head()

                    fullname     actual short
0       Ride Medicine Corner  Medicine   MDCN
1             Konok Pharmacy   Pharmacy  PHAR
2    Shahera Medicine Corner        NaN   NaN
3         Manik Medical Hall        NaN   NaN
4  Sourav Sajib Medical hall        NaN   NaN

In [149]:
fullname = data.fullname
actual= data.actual
short = data.short

In [95]:
full_name.head(2)

0    Ride Medicine Corner                          ...
1    Konok Pharmacy                                ...
Name: fullname, dtype: object

In [96]:
actual.head(2)

0    Medicine
1     Pharmacy
Name: actual, dtype: object

In [97]:
short.head(2)

0    MDCN
1    PHAR
Name: short, dtype: object

In [98]:
actual = actual[0]
short = short[0]
# for i in range(len(full_name)):
#     s= full_name[i].replace(actual, rep_val)
#     print(s)

In [63]:
actual

'Pharmacy'

In [64]:
short

'PHAR'

In [65]:
li = []
li.clear()
def short_name_converter(fullname, actual, short):
    for i in range(len(fullname)):
        s = fullname[i].replace(actual, short)
        li.append(s)

In [66]:
short_name_converter(fullname, actual, short)

In [67]:
df = pd.DataFrame()
df['fullname'] = data.fullname
df['short_name'] = li

In [69]:
df.head()

,fullname,short_name
0,Ride Medicine Corner ...,Ride Medicine Corner ...
1,Konok Pharmacy ...,Konok PHAR ...
2,Shahera Medicine Corner ...,Shahera Medicine Corner ...
3,Manik Medical Hall ...,Manik Medical Hall ...
4,Sourav Sajib Medical hall ...,Sourav Sajib Medical hall ...

In [70]:
df.to_csv('../Data/results.csv', index=False)
print('Data Saved')

Data Saved

# Test

In [179]:
df = pd.DataFrame()

In [206]:
patterns = pd.read_csv('name_patterns.csv', index_col=False)

In [207]:
patterns.head()

  Association    ASSOC
0  Aushadhalay  AUSHAD
1  Aushad Ghar  AUSHAD
2     Banasree   BANAS
3   Bangladesh      BD
4   Cantonment    CANT

In [208]:
patterns.to_dict()

{'Association ': {0: 'Aushadhalay',
  1: 'Aushad Ghar',
  2: 'Banasree',
  3: 'Bangladesh',
  4: 'Cantonment',
  5: 'Cardiology ',
  6: 'Center ',
  7: 'Central',
  8: 'Chamber',
  9: 'Chikistsaloy ',
  10: 'Chittaagong',
  11: 'Clinic',
  12: 'College',
  13: 'Commission',
  14: 'Comission',
  15: 'Communication ',
  16: 'Community',
  17: 'Complex ',
  18: 'Consultation',
  19: 'Consultant',
  20: 'Corner ',
  21: 'Corner ',
  22: 'Corporate',
  23: 'Corporation',
  24: 'Culture',
  25: 'Dental ',
  26: 'Departmental ',
  27: 'Diabetic',
  28: 'Diabetics ',
  29: 'Diagnostic ',
  30: 'Digital',
  31: 'Dispenchary ',
  32: 'Distribution',
  33: 'Distributor',
  34: 'Doctor',
  35: 'DRG',
  36: 'Electric',
  37: 'Employee',
  38: 'Enterprise',
  39: 'Fisheries',
  40: 'Foundation ',
  41: 'Fowndetion ',
  42: 'Genaral',
  43: 'Gulshan Tower',
  44: 'Hatchery',
  45: 'Herbal',
  46: 'Hospital ',
  47: 'Industries',
  48: 'Institute ',
  49: 'International ',
  50: 'Intregration',
  51: 'Investment',
  52: 'Logistics',
  53: 'Management ',
  54: 'Managing Director',
  55: 'Medical ',
  56: 'Medicare',
  57: 'Medicine ',
  58: 'Medico',
  59: 'Memorial',
  60: 'Metropolitan',
  61: 'Model',
  62: 'Modern ',
  63: 'Not Applicable',
  64: 'Nursing ',
  65: 'Office',
  66: 'Office & Others',
  67: 'Orthopaedic ',
  68: 'Organisation',
  69: 'Others',
  70: 'Oushadhaloy  ',
  71: 'Pathology',
  72: 'Pharmaceutical',
  73: 'Pharmacitical',
  74: 'Pharmacy',
  75: 'Private',
  76: 'Professors',
  77: 'Project',
  78: 'Poultry',
  79: 'Scientific ',
  80: 'Sergical ',
  81: 'Sergical',
  82: 'Services',
  83: 'Specialized',
  84: 'Store',
  85: 'Sub Distributor                                             ',
  86: 'Super',
  87: 'Technology',
  88: 'Telicom',
  89: 'Tetultala Khilkhet Express',
  90: 'Traders',
  91: 'Treatment',
  92: 'Varities',
  93: 'Varrietise',
  94: 'Veterinary'},
 'ASSOC': {0: 'AUSHAD',
  1: 'AUSHAD',
  2: 'BANAS',
  3: 'BD',
  4: 'CANT',
  5: 'CRD',
  6: 'CNTR',
  7: 'CENT',
  8: 'CHAM',
  9: 'CHIKT',
  10: 'CTG',
  11: 'CLC',
  12: 'COL',
  13: 'COMM',
  14: 'COMM',
  15: 'CMNTY',
  16: 'COMMU',
  17: 'CMPLX',
  18: 'CN',
  19: 'CN',
  20: 'CRNR',
  21: 'CRNR',
  22: 'COR',
  23: 'CORP',
  24: 'CUL',
  25: 'DNTL',
  26: 'DEPT',
  27: 'DES',
  28: 'DES',
  29: 'DAG',
  30: 'DIGI',
  31: 'DISP',
  32: 'DIST',
  33: 'DIST',
  34: 'DOC',
  35: 'DRG',
  36: 'ELC',
  37: 'EMP',
  38: 'ENT',
  39: 'FISHER',
  40: 'FNDN',
  41: 'FND',
  42: 'GEN',
  43: 'GT',
  44: 'HAT',
  45: 'HRBL',
  46: 'HOSP',
  47: 'INDUS',
  48: 'INST',
  49: 'INTL',
  50: 'INTGRA',
  51: 'INVEST',
  52: 'LOG',
  53: 'MGMT',
  54: 'MD',
  55: 'MED',
  56: 'MEDI',
  57: 'MDCN',
  58: 'MEDC',
  59: 'MEMO',
  60: 'METRO',
  61: 'MDL',
  62: 'MDRN',
  63: nan,
  64: 'NSG',
  65: 'OFF',
  66: 'OFF&OTRS',
  67: 'ORTHO',
  68: 'ORG',
  69: 'OTRS',
  70: 'AUSHD',
  71: 'PATH',
  72: 'PHARMA',
  73: 'PHARMA',
  74: 'PHAR',
  75: 'PVT',
  76: 'PROF',
  77: 'PROJ',
  78: 'POUL',
  79: 'SCI',
  80: 'SURG',
  81: 'SURG',
  82: 'SER',
  83: 'SPC',
  84: 'STR',
  85: 'SUB-DIST',
  86: 'SUP',
  87: 'TECH',
  88: 'TEL',
  89: 'TETU KHIL EXP',
  90: 'TRD',
  91: 'TRT',
  92: 'VARIE',
  93: 'VARIE',
  94: 'VAT'}}

In [ ]:
 keywo ={
  "medicine": "MED",
  "Pharmacy": "PHAR"
}
df['short_name'] = data['fullname'].replace(patterns, regex=True)

In [ ]:
df.head(10)

In [204]:
df.head(10)

                  short_name
0       Ride Medicine Corner
1             Konok Pharmacy
2    Shahera Medicine Corner
3         Manik Medical Hall
4  Sourav Sajib Medical hall
5      Tonni Medicine Corner
6               Ghosh Pharma
7         Nazim Medical Hall
8       Anjumonoara Pharmacy
9            Nishan Pharmacy