In [13]:
# Import all library 
import pandas as pd 
import re

In [29]:
# Read full name files 
data = pd.read_excel('./Data/fullnamelist.xlsx')
data.head()

                                            fullname
0  Hazra Pharmacy                                ...
1  Uttam Medical Hall                            ...
2  Tuli Pharmacy                                 ...
3  Joy Ma Pharmacy                               ...
4  Ayshe Pharmacy                                ...

In [30]:
data.shape

(1456, 1)

In [31]:
# Read nameing patterns file 
patterns = pd.read_excel('./Data/hnd_name_patterns.xlsx')
patterns.head()

          actual   short
0           and        &
1  Aoushadhalaya  AUSHAD
2           FEED
3           Farm
4           Feed

In [32]:
# Convert patterns dataframe to dictionary 
key = patterns.set_index('actual')['short'].to_dict()

In [33]:
# Create a new dataframe and store processed data in it 
df = pd.DataFrame()
df['short_name'] = data['fullname'].replace(key, regex=True)

In [34]:
# Create a new dataframe for both Full Name and Short Name 
newdf = pd.DataFrame()
newdf['Full Name'] = data.fullname
newdf['Short Name'] = df.short_name.str.strip()

In [40]:
# Finally store all actual and processed data in a file 
newdf.to_csv('./Data/short_name_hnd.csv', index=False)
print('Data Saved')

Data Saved

# Color not processed rows

In [41]:
# again read shortname
data = pd.read_csv('./Data/short_name_hnd.csv')

In [42]:
# Remove all white spacees 
fullname = data['Full Name'].str.strip()
shortname = data['Short Name'].str.strip()
fullname.shape, shortname.shape

((1456,), (1456,))

In [43]:
# Color functions 
def color_negative_red(val):
    color = 'red' if len(val) > 20 else 'black'
    return 'color: %s' % color

a = data.style.applymap(color_negative_red)

In [44]:
# Save output
a.to_excel('./Data/output.xlsx', index=False)
print('Wrong Output maked as red color')

Wrong Output maked as red color