In [15]:
# Import all library 
import pandas as pd 
import re

In [14]:
# Read full name files 
data = pd.read_excel('./Data/fullnamelist.xlsx')
data.head()

                                            fullname
0  Hazra Pharmacy                                ...
1  Uttam Medical Hall                            ...
2  Tuli Pharmacy                                 ...
3  Joy Ma Pharmacy                               ...
4  Ayshe Pharmacy                                ...

In [16]:
# Read nameing patterns file 
patterns = pd.read_csv('./Data/name_patterns.csv')
patterns.head()

        actual   short
0  Association   ASSOC
1  Aushadhalay  AUSHAD
2  Aushad Ghar  AUSHAD
3     Banasree   BANAS
4   Bangladesh      BD

In [17]:
# Convert patterns dataframe to dictionary 
key = patterns.set_index('actual')['short'].to_dict()

In [18]:
# Create a new dataframe and store processed data in it 
df = pd.DataFrame()
df['short_name'] = data['fullname'].replace(key, regex=True)

In [19]:
# Create a new dataframe for both Full Name and Short Name 
newdf = pd.DataFrame()
newdf['Full Name'] = data.fullname
newdf['Short Name'] = df.short_name

In [21]:
# Finally store all actual and processed data in a file 
newdf.to_csv('./Data/short_name.csv', index=False)
print('Data Saved')

Data Saved